.wrapper {
    display: flex;
    align-items: center; 
    width: 100%;
  }
  
  .logo {
    margin-right: auto; /* le logo est poussé vers la gauche */
  }
  
  .WelcomText {
    margin-left: 60px; 
  }
